node_modules
npm-debug.log
.env
.env.*
.git
.gitignore
.dockerignore
.gcloudignore
tests
*.md
LICENSE
.github
eslint.config.js
serviceAccountKey.json
scripts/*.sh
docs
.DS_Store
.cache
test_*.js
*.png
*.jpg
*.jpeg
